<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
    <title>My Website - About </title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1> Alexandria Burnett </h1>
    <p>I am a third year Computer Science Student at the University of the West Indies Mona Campus. During my free time I enjoy reading web novels and watching stand-up and improv comedy.
        I am interested in web development as the internet plays a big part in daily life. Almost everything can be done online and as such it would be beneficial to learn the basics of how these things are developed and managed.
         </p>
</body>
</html>